	{% extends 'base.html' %}
	{% load static %}
	{% block content %}

	<!-- HTML for Blog Post -->
	<section class="post">

		<!-- Display post title & author, as well as a message if the post
			 is not public (unlisted) -->
		<br>
		<header class="major">
			<h1>{{ agpost.title }}</h1>
			<h4 class="lighten">By {{ agpost.author|safe }}</h4>
			{% if agpost.active is False %}<h4>Unlisted Article</h4>{% endif %}
		</header>

		<!-- Display post image in right corner of text -->
		<p style="clear: both;"><span class="image right"><img src="{{ agpost.square_thumb.url }}" alt="" /></span>

			<!-- Display the main content of the post -->
			{{ agpost.body|safe }}

			<!-- Add a sources section if the post has citations -->
			{% if agpost.has_sources %}
			<div class="align-center">
				<input value="Show Sources" type="button" id="sources_click">
			</div>
			<div id="sources">
				<hr>
				{{ agpost.sources|safe }}
			</div>
			{% endif %}
		</p>

		<!-- Add date the post was created to bottom of the post -->
		<br clear="both"><header class="major"><span class="date">{{ agpost.date }}</span></header>

		<!-- COMMENT SECTION -->
		{% include 'forms/comment_form.html' with user_has_comment_perms=perms.posts.add_comment %}
		<hr>
		<!-- Display all active comments -->
		<div id="comments">
			{% if comments.all %}
				{% for comment in comments.all %}
					{% if comment.active %}
						{% include 'comment.html' with comment_num=forloop.counter0 %}
					{% endif %}
					<br>
				{% endfor %}
			{% endif %}
		</div>
	</section>

	<!-- Prepare to load scripts -->
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	{% if agpost.has_sources %}
		<!-- JQuery for hiding and showing agpost sources list -->
		<script type="text/javascript" src="{% static 'js/agpost_sources.js' %}"></script>
	{% endif %}

	{% if user.is_authenticated and perms.posts.add_comment %}
		<!-- JS scripts for hiding and showing reply forms -->
		<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
		<script type="text/javascript">
			var site_key="{{ site_key }}"
		</script>
		<script type="text/javascript" src="{% static 'js/comment_section.js' %}"></script>
	{% endif %}
	{% endblock content %}
