{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Posts -->
	<!-- <div class="col-12">
        <select name="demo-category" id="demo-category">
            <option value="">- Category -</option>
            <option value="1">Philosophy</option>
            <option value="1">Fiction</option>
        </select>
    </div> -->

	{% if active_agposts.object_list.count > 0 %}
		<section class="posts">
			{% for agpost in active_agposts %}
				<article>
					<header>
						<h2>{{ agpost.title }}</h2>
					</header>
					<div class="image fit"><img src="{{ agpost.thumb.url }}" alt="" /></div>
					<p>{{ agpost.desc|safe }}</p>
					<ul class="actions special">
						<li><a href="{% url 'posts:show' agpost.slug %}" class="button">Read More</a></li>
					</ul>
				</article>
			{% endfor %}
		</section>
	{% else %}
		<section>
			<h2>No posts found. Check back later!</h2>
		</section>
	{% endif %}
	<br>

	<!-- Footer w/ Page Nav -->
	<footer>
		<!-- Footer w/ Page Nav -->
		<div class="paginator">

			<h5 class="current">Page {{ active_agposts.number }} of {{ active_agposts.paginator.num_pages }}</h5>
			<br>
			<span class="step-links">
				{% if active_agposts.has_previous %}
					<!--a href="1">&laquo; first</a-->
					<a class="button" href="{{ active_agposts.previous_page_number }}">prev</a>
				{% else %}
					<input type="button" value="prev" disabled="true"/>
				{% endif %}

				{% if active_agposts.has_next %}
					<a class="button" href="{{ active_agposts.next_page_number }}">next</a>
					<!--a href="{{ active_agposts.paginator.num_pages }}">last &raquo;</a-->
				{% else %}
					<input type="button" value="next" disabled="true"/>
				{% endif %}
			</span>
		</div>
		<br>
    </footer>
{% endblock content %}