{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section>
		<h2>New posts every-so-often-ish</h2>
		<p>Follow by email to hear about the latest!</p>

		<form method="post" class="row gtr-uniform" id="subscription_form">
			{% csrf_token %}
			<div class="col-5">
				<input type="text" name="username" class="form-control" placeholder="Full Name" required>
			</div>
			<div class="col-5">
				<input type="email" name="email" class="form-control" placeholder="Email" required>
			</div>
			<div class="col-1">
				<ul class="actions">
					<li><input type="submit"></li>
				</ul>
			</div>
			<input type="hidden" name="g-recaptcha-response" id='recaptcha'>
			<input type="hidden" name="create_subscription" id="create_subscription" value="created">
		</form>
		<br>
		<h4>Feel free to read the <a href="{% url 'homepage:show_policy' %}"><u>AAAHHHghosts privacy policy</u></a></h4>
		<br>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
	<script type="text/javascript">

		// When reCaptcha v3 is ready, add verifications to each form submit button
		grecaptcha.ready(function() {

			// Add reCaptcha Verficiation to the static comment form
			$("#subscription_form").submit(function(e) {
                var form = this;

                e.preventDefault();
                grecaptcha.execute('{{ site_key }}', {action: 'submit'}).then(function(token) {

					// Add token to hidden recaptcha input field
					document.getElementById("recaptcha").value = token;
					form.disabled = true;
                    form.submit();
   					form.reset();
            	});
            });
		});
	</script>
{% endblock content %}
