{% extends 'base.html' %}
{% load static %}

{% block intro %}
<!-- Intro -->
<div id="intro">
	<h7>AAAHHH<br>ghosts</h7>
	<p>A sh!tshow of philosophy, music, art, and more</p>
	<ul class="actions">
		<li><a href="#header" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
	</ul>
</div>
{% endblock intro %}

{% block content %}
	<section class="post">

		<h1 class="align-center" style="margin-bottom: 0rem;">[Welcome to my blog]</h1>
		<br>
		<p>
			<span class="image left"><img src="{% static 'images/bio_pic.jpg' %}" alt="" /></span>
			My name is Stephen. I go by Scuub (like Scoob, but spelled with two U's).
			I'm a Ginger kid who skateboards, does amateur graffiti, and writes about philosophy.
			<i>AAAHHH ghosts</i> is a weird name for a blog, I know. It was partly spat out of a randomized
			band name generator I programmed. I make weird music too, speaking of which. Sometimes I'll post
			about that stuff here. Mostly this website is a dumping ground for my philosophical
			hot takes. I tend to write most about Ethics, Philosophy of Religion, and Metaphysics.
			I believe studying philosophy can help us make the world a kinder place for all sentient
			life, regardless of their race, gender identity, sexual orientation, nationality,
			or species. Studying ethics continues to inform me as an activist not just for pressing
			human rights issues (racial justice, equal rights for sexual and gender minorities, and so
			on), but also for non-human animal rights (go vegan!). Anyways, thanks for visiting my blog.
			I don't have many posts up yet, but feel free to browse and maybe even leave a comment
			or two. Much love <3
		</p>

		<h1 class="align-center" style="margin-bottom: 0rem;">[Latest Posts]</h1>
	</section>
	<!-- Featured Post -->
	{% if latest_agposts.count > 0 %}
		<article class="post featured">

			<div class="image main"><img src="{{ latest_agposts.0.thumb.url }}" alt="" /></div>
			<header>
				<h2>{{ latest_agposts.0.title|safe }}</h2>
			</header>
			{{ latest_agposts.0.desc|safe }}
			<ul class="actions special">
				<li><a href="{% url 'posts:show' latest_agposts.0.slug %}" class="button large">Read More</a></li>
			</ul>

		</article>
	{% endif %}

	{% if latest_agposts.count > 1 %}
		<section class="posts">
			{% for agpost in latest_agposts|slice:"1:" %}
			<article>
				<header>
					<h2>{{ agpost.title|safe }}</h2>
				</header>
				<div class="image fit"><img src="{{ agpost.thumb.url }}" alt="" /></div>
				<p>{{ agpost.desc|safe }}</p>
				<ul class="actions special">
					<li><a href="{% url 'posts:show' agpost.slug %}" class="button">Read More</a></li>
				</ul>
			</article>
			{% endfor %}
		</section>
	{% endif %}

	<section>
		<h2>[Contact]</h2>
		<p><h3 style="display: inline;">email:</h3>  aaahhhghosts@gmail.com</p>
	</section>
{% endblock content %}

