{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section>
    <h2>AAAHHHghosts Privacy Policy (Effective 14 December 2020):</h2>
		<br>
    <p>Stephen Busic here, creator and owner of the AAAHHHghosts blog. Your privacy is important to me.
        By subscribing to recieve blog updates, or by logging in to comment via an existing social media account,
        a user account on my blog. Logging in using the social media options listed above provides my blog only with the
        username and primary email address associated with that social media account. I am NOT given any
        passwords or additional sensitive information. Your email address will not be shared publicly or with
        third-parties, unless I should ever be required to by law. Your username will only be displayed alongside your
        comments/replies if you decide to post to my articles. Readers must be above the age of 13 to login. You
        may delete your account anytime using the link provided on the logout page. Logging in will be regarded as
        acceptance of this policy. If you have any further questions about how I handle your information, feel free to
        contact me at <i>aaahhhghosts@gmail.com</i>. Thank you for showing interest in my blog, and I look forward to
        reading any comments you post!
    </p>
	</section>
{% endblock content %}
