{% extends 'base.html' %}
{% load static %}
{% block content %}

	<section>
    	<h2>AAAHHHghosts Privacy Policy:</h2>
		<h4>Effective 14 December 2020</h4>
		<br>
		<p>Stephen Busic here, creator and owner of the AAAHHHghosts blog. Your privacy is important to me.
			By subscribing to recieve blog updates, or by logging in via an existing social media account to comment,
			you are providing my blog with two pieces of information: a username, and an email address.
			Logging in using social media provides my blog only with the
			username and primary email address associated with that social media account. I am NOT given any
			passwords or additional sensitive information. Your email address will not be shared publicly or with
			third-parties, unless required by law. Your username will only be displayed alongside your
			comments/replies if you decide to post to my articles. By commenting, you may also recieve emails notifying
			you when other reader respond to your comment. These emails can be disabled via a checkbox on the comment
			form, or an unnotify link provided in the emails. Readers must be above the age of 13 to subscribe or login.
			You may delete your login anytime using the link provided on the logout page, and unsubscribe using a link
			provided in blog update emails. Deleting your login will also remove your comments and replies from the site.
			<br>
			Subscribing or logging in via social media to my blog will be regarded as acceptance of this privacy policy.
			If you have any further questions about how I handle your information, feel free to
			contact me at <i>aaahhhghosts@gmail.com</i>. Thank you for showing interest in my blog!
		</p>
	</section>
{% endblock content %}
