							<!-- Show reply form on click -->
							<form method="post" class="dropdown_form" id="dropdown_form_{{ comment_num }}_{{ reply_num }}">
								{% csrf_token %}
								<h4>Write Your Reply</h4>
								<div class="bottom pad">
									{{ dropdown_form.body }}
								</div>
								<ul class="actions">
									<li><input type="submit" value="Post"></li>
									<li><input type="button" id="hide_dropdown_click_{{ comment_num }}_{{ reply_num }}" value="Cancel" class="primary"></li>
								</ul>
								<input type="hidden" name="g-recaptcha-response" id="recaptcha_{{ comment_num }}_{{ reply_num }}">
								<input type="hidden" name="is_dropdown_form" value="{{ comment_num }}_{{ reply_num }}">
								<input type="hidden" name="action" value="create_reply"/>
							</form>