		<h2>New posts every-so-often-ish</h2>
		<p>Get notified about the latest posts!</p>
		<form method="post" id="subscription_form">
			{% csrf_token %}
			<div style="display: flex;">
				<input style="max-width: 500px; margin-right: 25px;" type="email" name="email" placeholder="Email" required>
				<input style="max-width: 175px;" type="submit" value="submit">
			</div>
			<input type="hidden" name="g-recaptcha-response" id='recaptcha_sub'>
			<input type="hidden" name="create_subscription" id="create_subscription" value="created">
		</form>