{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/sociallogin.css' %}" />
<section>
  <h2>{% trans "Login to Comment" %}</h2>

  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}
  <p>{% blocktrans with site.name as site_name %}Use an existing account with Google, Twitter, or Facebook
    to comment on posts.<!--<a href="{{ signup_url }}">sign up</a>
  for a {{ site_name }} account and sign in below: -->{% endblocktrans %}</p>


  <div class="socialaccount_ballot">
    <section class="socialaccount_providers">
      <div class="align-center">

          <a href="{% provider_login_url 'facebook' %}" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> <b class="socialbtn" >Login with Facebook</b>
          </a>
          <a href="{% provider_login_url 'twitter' %}" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> <b class="socialbtn" >Login with Twitter</b>
          </a>
          <a href="{% provider_login_url 'google' %}" class="google btn">
            <i class="fa fa-google fa-fw"></i> <b class="socialbtn" >Login with Google+</b>
          </a>
      </div>
    </section>
    <br>
  </div>
  {% include "socialaccount/snippets/login_extra.html" %}
    By logging in, you are claiming to have read and understood the <a href="{% url 'homepage:show_policy' %}">AAAHHHghosts privacy policy</a>!
    <br>
</section>
{% endif %}
{% endblock content %}
