	{% extends 'base.html' %}
	{% load static %}
	{% block content %}

	{# HTML for Blog Post #}
	<section class="post">

		{# Display post title & author, as well as a message if the post is not public (unlisted) #}
		<header class="major">
			<h1>{{ agpost.title }}</h1>
			<h4 class="lighten">{{ agpost.author|safe }}</h4>
		</header>

		{# Display post image in right corner of text #}
		<p style="clear: both;"><span class="image right"><img src="{{ agpost.square_thumb.url }}" alt="" /></span>

			{# Display the main content of the post #}
			{{ agpost.body|safe }}
		</p>

		{# Add a sources section if the post has citations #}
		{% if agpost.has_sources %}
		<div class="align-center bottom pad">
			<input value="Show Sources" type="button" id="sources_click">
		</div>
		<div id="sources">
			<hr>
			{{ agpost.sources|safe }}
		</div>
		{% endif %}

		{# Add date the post was created to bottom of the post #}
		<br clear="both"><header class="major"><span class="date">{{ agpost.date|date:'M d, Y' }}</span></header>

		{# COMMENT SECTION #}
		{% include 'forms/comment_form.html' with user_has_comment_perms=perms.posts.can_comment_or_reply %}
		<hr>
		{# Display all active comments #}
		<h2>Comments</h2>
		<div id="comments">
			{% if active_comments %}
				{% for comment in active_comments %}
					{% include 'comment.html' with comment_num=forloop.counter0 %}
				{% endfor %}
			{% else %}
				<p class="align-center">No comments yet... be the first!</p>
				<br>
			{% endif %}
		</div>
	</section>

	<section>
		{% include 'forms/sub_form.html' %}
		<br>
	</section>

	{# Prepare to load scripts #}
	{% load static %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>

	{# script for recording page views #}
	<script type="text/javascript">
		$(document).ready(function() {

			// create an AJAX call
			$.ajax({

				type: "post",
				url: "{% url 'posts:record_post_view' %}",
				data: {
					'agpost_pk': {{ pk }},
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				error: function(data) {
					console.log("Ajax error occured while trying to count page view.")
				}
			});
		});
	</script>

	{% if agpost.has_sources %}
		{# JQuery for hiding and showing agpost sources list #}
		<script type="text/javascript" src="{% static 'js/agpost_sources.js' %}"></script>
	{% endif %}

	{# Add js for subscription form #}
	<script type="text/javascript">
		var site_key="{{ site_key }}"
	</script>
	<script type="text/javascript" src="{% static 'js/sub_form_recaptcha.js' %}"></script>

	{# Check if user is legit before adding necessary js to post comments/replies #}
	{% if user.is_authenticated and perms.posts.can_comment_or_reply %}
		{# JS scripts for hiding and showing reply forms #}
		<script type="text/javascript" src="{% static 'js/comment_section.js' %}"></script>
	{% endif %}
	{% endblock content %}
