				{# Set up variables #}
                {% with user_logged_in=user.is_authenticated %}

					{# Div for comment #}
					<div class="bottom pad comment">
						{# Header with comment's author and tags #}
						<div class="row aln-middle">
							{% if comment.author and comment.author.is_active %}
							<h4>{{ comment.author.get_full_name }}</h4>
							{% else %}
							<h4>[deleted]</h4>
							{% endif %}
							<div class="lighten">{{ comment.created_on }}</div>
							{% if comment.pinned %}<div class="lighten">[Pinned]</div>{% endif %}
							{% if comment.edited %}<div class="lighten">[Edited]</div>{% endif %}
						</div>
						{# Comment body #}
						<div class="comment_body">
							{{ comment.body }}
						</div>
						{% if user_logged_in %}
							{# If logged in user is author, add EDIT button. Else, if logged in user is not author, add reply button #}
							<div class="top pad"><a class="lighten dropdown_click" id="dropdown_click_{{ comment_num }}_0">
								{% if user == comment.author %} Edit {% else %} Reply {% endif %}
							</a></div>
						{% endif %}
					</div>

					{% if user_logged_in %}
					{# If user is logged in #}
						{% if user == comment.author %}
						{# If user is author of comment, attach edit_form to comment #}
							{# Show edit form on click #}
							{% include 'forms/edit_form.html' with type="comment" action="edit_comment" reply_num=0 %}
						{% else %}
							{% if perms.posts.can_comment_or_reply %}
							{# If user is not the comment author, display reply form #}
								{# Show reply form on click #}
								{% include 'forms/reply_form.html' with action="create_reply" reply_num=0 %}
							{% endif %}
						{% endif %}
					{% endif %}

					{% if comment.active_replies %}
						{# Show comment's replies #}
						{% for reply in comment.active_replies %}

							{% with reply_num=forloop.counter %}

								{# Show Reply #}
								<div class="bottom pad reply">
									<div class="col-12">
										<div class="row aln-middle">
											{% if reply.author and reply.author.is_active %}
											<h4>{{ reply.author.get_full_name }}</h4>
											{% else %}
											<h4>[deleted]</h4>
											{% endif %}
											<div class="lighten">{{ reply.created_on }}</div>
											{% if reply.pinned %}<div class="lighten">[Pinned]</div>{% endif %}
											{% if reply.edited %}<div class="lighten">[Edited]</div>{% endif %}
										</div>
										<div class="reply_body">
											{% if reply.handle_user and reply.handle_user.is_active %}
											<div class="reply_handle">@{{ reply.handle_user.get_full_name }}</div>
											{% else %}
											<div class="reply_handle">@[deleted]</div>
											{% endif %}
											{{ reply.body }}
										</div>
									</div>
									{% if user_logged_in %}
										{# If logged in user is author, add EDIT button. Else, if logged in user is not author, add reply button #}
										<div class="top pad"><a class="lighten dropdown_click" id="dropdown_click_{{ comment_num }}_{{ reply_num }}">
											{% if user == reply.author %} Edit {% else %} Reply {% endif %}
										</a></div>
									{% endif %}
								</div>

								{# Show comment reply's reply form on click #}
								{% if user_logged_in %}
								{# If user is logged in #}
									{% if user == reply.author %}
									{# If user is author of comment, attach edit_form to comment #}
										{# Show reply form on click #}
										{% include 'forms/edit_form.html' with type="reply" action="edit_reply" body="{{ reply.body }}" %}
									{% else %}
										{% if perms.posts.can_comment_or_reply %}
										{# If user is not the comment author, display reply form #}
											{# Show reply form on click #}
											{% include 'forms/reply_form.html' with action="create_reply" %}
										{% endif %}
									{% endif %}
								{% endif %}

							{% endwith %}
						{% endfor %}
					{% endif %}
				{% endwith %}