{% extends 'base.html' %}
{% load static %}

{% block intro %}
{# Intro #}
<div id="intro">
	<h7 id="main_title">WE THE SENTIENT</h7>
	<p style="font-weight: 900; padding: 0 20px 0 20px; background: #0b0b0b;">a philosophy blog for conscious lifeforms</p>
	<ul class="actions">
		<li><a id="down_arrow" href="#header" class="button icon solid solo fa-arrow-down scrolly glow">Continue</a></li>
	</ul>
</div>
{% endblock intro %}

{% block content %}
	<section class="post">

		<h1 class="align-center" style="margin-bottom: 0rem;">Welcome to my blog</h1>
		<br>
		<p>
			<span class="image left"><img src="{% static 'images/bio_pic.jpg' %}" alt="" /></span>
			My name is Stephen. I go by Scuub (like Scoob, but spelled with two U's).
			I'm a Ginger kid who skateboards, does amateur graffiti, and writes about philosophy.
			I make weird music too, speaking of which. Sometimes I'll post
			about that stuff here. Mostly this website is a dumping ground for my philosophical
			hot takes. I tend to write most about Ethics, Philosophy of Religion, and Metaphysics.
			I think studying philosophy can help us make the world a kinder place for all sentient
			life, regardless of their race, gender identity, sexual orientation, nationality,
			or species. Studying ethics continues to inform me as an activist not just for pressing
			human rights issues (racial justice, equal rights for sexual and gender minorities, and so
			on), but also for non-human animal rights (go vegan!). Thanks for visiting my blog.
			I don't have many posts up yet, but feel free to browse and maybe even leave a comment
			or two. Much love <3
		</p>
	</section>

	<section>
		{% include 'forms/sub_form.html' %}
		<h2>Contact</h2>
		<h3 style="display: inline;">my email: </h3><p>scuub@wethesentient.com</p>
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="https://www.google.com/recaptcha/api.js?render={{ site_key }}"></script>
	<script type="text/javascript">
		var site_key="{{ site_key }}"
	</script>
	<script type="text/javascript" src="{% static 'js/sub_form_recaptcha.js' %}"></script>
{% endblock content %}

