							<!-- Show edit comment/reply form on click -->
							<form method="post" class="reply_form" id="reply_form_{{ comment_num }}_{{ reply_num }}">
								{% csrf_token %}
								<h4>Edit your {{ type }}:</h4>
								<div class="bottom pad">
									<textarea name="body" cols="40" rows="3" col="3" line-height="1.5"
											  maxlength="4000" required id="id_body_{{ comment_num }}_{{ reply_num }}"
									>{% ifequal type "comment" %}{{ comment.body }}{% endifequal %}{% ifequal type "reply" %}{{ reply.body }}{% endifequal %}</textarea>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Save Changes"></li>
                                    <li><input type="button" id="delete_reply_click_{{ comment_num }}_{{ reply_num }}" value="Delete" class="primary"></li>
									<li><input type="button" id="hide_reply_click_{{ comment_num }}_{{ reply_num }}" value="Cancel" class="primary"></li>
								</ul>
								<input type="hidden" name="g-recaptcha-response" id="recaptcha_{{ comment_num }}_{{ reply_num }}">
								<input type="hidden" name={{ action }}  value="{{ comment_num }}_{{ reply_num }}">
							</form>