{% load inlinecss %}
{% inlinecss "css/email.css" %}
<div style="padding: 20px; background: #fafafa;font-size:15px;">
    Hey {{ first_name }}!<br>
    <br>
    <p>
        Sorry to see you go! Click the link below to deactivate your account. After deactivating your
        account, if you do not log in again in 5 days, then your account will be permanently deleted.
    </p>
    <p>
        Please be aware that if this happens,
        this will also permanently delete any comments and replies you may have written.
    </p>
    <a href="{{ deletion_url }}">{{ deletion_url }}</a><br>
    <br>
    <div class = "footer">
        This is an automated message, please don't reply. You can reach me here at scuub@wethesentient.com, though, with questions or concerns.
    </div>
    <br>
</div>
{% endinlinecss %}