{% load inlinecss %}
{% inlinecss "css/email.css" %}
<div style="padding: 20px; background: #fafafa;font-size:15px;">
    Hey {{ first_name }}!<br>
    <br>
    Someone replied to a comment or reply you left on the post "{{ agpost_title }}". You wrote:
    <br>
    <p><i>{{ parent_body }}</i></p>
    <br>
    Here's what {{ replier_name }} said in response:
    <br>
    <p><i>{{ reply_body }}</i></p>
    <br>
    To join the conversation, visit the comment section here:
    <a href="{{ post_url }}#comments">{{ post_url }}#comments</a>.<br>
    <br>
    <br>
    <div class="footer">
        Don't want to be notified about future replies to this comment? Here's a link for that: <a href="{{ unnotify_url }}">{{ unnotify_url }}#comments</a>
    </div>
</div>
{% endinlinecss %}