{% load inlinecss %}
{% inlinecss "css/email.css" %}
<div style="padding: 20px; background: #fafafa;font-size:15px;">
    Hey!
    <p>
        Thanks for subscribing to my strange, semi-interesting blog! I'll be shooting you an email whenever I finish a new post.
        You won't be spammed. I wish I were productive enough for that to be a concern!<br>
        To confirm your subscription, please click on the link given below. If you believe this to be a mistake,
        you may ignore this email.
    </p>
    <a href="{{ confirmation_url }}">{{ confirmation_url }}</a><br>
    <br>
    <div class = "footer">
        This is an automated message, do not reply. You can reach me here at aaahhhghosts@gmail.com, though.
        Thanks again for expressing interest in my strange projects. Also, you can always unsubscribe if you want. No hard feelings <3
    </div>
    <br>
    -Scuub
</div>
{% endinlinecss %}